In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [2]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\vinith\appdata\local\programs\python\python312\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# csv to dataframe
df_k=pd.read_csv("kerala_busdetails.csv")
df_wb=pd.read_csv("wbengal_busdetails.csv")
df_b=pd.read_csv("bihar_busdetails.csv")
df_r=pd.read_csv("rajas_busdetails.csv")
df_t=pd.read_csv("tele_busdetails.csv")
df_up=pd.read_csv("up_busdetails.csv")
df_p=pd.read_csv("punjab_busdetails.csv")
df_a=pd.read_csv("assam_busdetails.csv")
df_ap=pd.read_csv("andhra_busdetails.csv")
df_g=pd.read_csv("goa_busdetails.csv")
df_full3=pd.concat([df_a,df_up,df_ap,df_b,df_g,df_k,df_p,df_wb,df_t,df_r],ignore_index=True)
df_full3

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,Assam State Transport Corporation (ASTC) - 154930,Volvo AC Seater 2+2,15:45,20:00,04h 15m,INR 298,6 Seats available,2.9\n38,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
1,Chartered Bus - ASTC,Volvo AC Seater Pushback 2+2,15:30,19:15,03h 45m,INR 389.13,2 Seats available,4.6\n492,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
2,Himalayan Travels,NON AC Seater / Sleeper 2+1,23:40,04:00,04h 20m,450,20 Seats available,3.7\n12,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
3,BLUE HILL TRAVELS INDIA LIMITED,NON A/C Seater Semi Sleeper (2+1),21:30,03:30,06h 00m,INR 400,15 Seats available,2.9\n100,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
4,BLUE HILL TRAVELS INDIA LIMITED,NON A/C Seater Semi Sleeper (2+1),22:15,03:45,05h 30m,INR 550,30 Seats available,3.7\n26,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
...,...,...,...,...,...,...,...,...,...,...
2436,Milan Travels,Bharat Benz A/C Seater /Sleeper (2+1),19:15,22:30,03h 15m,INR 476,37 Seats available,3.9\n14,https://www.redbus.in/bus-tickets/bikaner-to-s...,Bikaner to Sikar
2437,Maharaja Travels,NON AC Seater / Sleeper 2+1,19:30,23:20,03h 50m,INR 300,34 Seats available,3.1,https://www.redbus.in/bus-tickets/bikaner-to-s...,Bikaner to Sikar
2438,Nandu V.K. Travels,NON A/C Sleeper (2+1),19:30,23:45,04h 15m,INR 600,29 Seats available,3.1,https://www.redbus.in/bus-tickets/bikaner-to-s...,Bikaner to Sikar
2439,RATHORE TRAVELS AGENCY,A/C Seater / Sleeper (2+1),22:30,02:59,04h 29m,INR 350,34 Seats available,3.1\n4,https://www.redbus.in/bus-tickets/bikaner-to-s...,Bikaner to Sikar
2440,Maharaja Travels,A/C Seater / Sleeper (2+1),22:30,02:20,03h 50m,INR 333,42 Seats available,3.1,https://www.redbus.in/bus-tickets/bikaner-to-s...,Bikaner to Sikar

In [4]:
df_full3

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,Assam State Transport Corporation (ASTC) - 154930,Volvo AC Seater 2+2,15:45,20:00,04h 15m,INR 298,6 Seats available,2.9\n38,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
1,Chartered Bus - ASTC,Volvo AC Seater Pushback 2+2,15:30,19:15,03h 45m,INR 389.13,2 Seats available,4.6\n492,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
2,Himalayan Travels,NON AC Seater / Sleeper 2+1,23:40,04:00,04h 20m,450,20 Seats available,3.7\n12,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
3,BLUE HILL TRAVELS INDIA LIMITED,NON A/C Seater Semi Sleeper (2+1),21:30,03:30,06h 00m,INR 400,15 Seats available,2.9\n100,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
4,BLUE HILL TRAVELS INDIA LIMITED,NON A/C Seater Semi Sleeper (2+1),22:15,03:45,05h 30m,INR 550,30 Seats available,3.7\n26,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
...,...,...,...,...,...,...,...,...,...,...
2436,Milan Travels,Bharat Benz A/C Seater /Sleeper (2+1),19:15,22:30,03h 15m,INR 476,37 Seats available,3.9\n14,https://www.redbus.in/bus-tickets/bikaner-to-s...,Bikaner to Sikar
2437,Maharaja Travels,NON AC Seater / Sleeper 2+1,19:30,23:20,03h 50m,INR 300,34 Seats available,3.1,https://www.redbus.in/bus-tickets/bikaner-to-s...,Bikaner to Sikar
2438,Nandu V.K. Travels,NON A/C Sleeper (2+1),19:30,23:45,04h 15m,INR 600,29 Seats available,3.1,https://www.redbus.in/bus-tickets/bikaner-to-s...,Bikaner to Sikar
2439,RATHORE TRAVELS AGENCY,A/C Seater / Sleeper (2+1),22:30,02:59,04h 29m,INR 350,34 Seats available,3.1\n4,https://www.redbus.in/bus-tickets/bikaner-to-s...,Bikaner to Sikar
2440,Maharaja Travels,A/C Seater / Sleeper (2+1),22:30,02:20,03h 50m,INR 333,42 Seats available,3.1,https://www.redbus.in/bus-tickets/bikaner-to-s...,Bikaner to Sikar

Data cleaning

In [5]:
df_full3.columns

Index(['Bus_name', 'Bus_type', 'Start_time', 'End_time', 'Total_duration',
       'Price', 'Seats_Available', 'Ratings', 'Route_link', 'Route_name'],
      dtype='object')

In [6]:
# data about the data
df_full3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2441 entries, 0 to 2440
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2441 non-null   object
 1   Bus_type         2441 non-null   object
 2   Start_time       2441 non-null   object
 3   End_time         2441 non-null   object
 4   Total_duration   2441 non-null   object
 5   Price            2441 non-null   object
 6   Seats_Available  2441 non-null   object
 7   Ratings          2441 non-null   object
 8   Route_link       2441 non-null   object
 9   Route_name       2441 non-null   object
dtypes: object(10)
memory usage: 190.8+ KB

In [7]:
df_full3["Price"]

0          INR 298
1       INR 389.13
2              450
3          INR 400
4          INR 550
           ...
2436       INR 476
2437       INR 300
2438       INR 600
2439       INR 350
2440       INR 333
Name: Price, Length: 2441, dtype: object

In [8]:
#convert prices to numeric
# remove  INR 
# fill null values with 0
df_full3["Price"]=df_full3["Price"].str.replace("INR","")
df_full3["Price"]=df_full3["Price"].astype(float)
df_full3["Price"].fillna(0)

0       298.00
1       389.13
2       450.00
3       400.00
4       550.00
         ...
2436    476.00
2437    300.00
2438    600.00
2439    350.00
2440    333.00
Name: Price, Length: 2441, dtype: float64

In [9]:
df_full3["Ratings"]

0        2.9\n38
1       4.6\n492
2        3.7\n12
3       2.9\n100
4        3.7\n26
          ...
2436     3.9\n14
2437         3.1
2438         3.1
2439      3.1\n4
2440         3.1
Name: Ratings, Length: 2441, dtype: object

In [10]:
#convert Ratings to numeric
df_full3["Ratings"]=df_full3["Ratings"].str.replace("New","")
df_full3["Ratings"]=df_full3["Ratings"].str.strip()
df_full3["Ratings"]=df_full3["Ratings"].str.split().str[0]
df_full3["Ratings"] = pd.to_numeric(df_full3["Ratings"], errors='coerce') #  invalid parsing will be set as NaN 
df_full3["Ratings"].fillna(0,inplace=True) 
df_full3["Ratings"]

C:\Users\Vinith\AppData\Local\Temp\ipykernel_6864\763367933.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_full3["Ratings"].fillna(0,inplace=True)

0       2.9
1       4.6
2       3.7
3       2.9
4       3.7
       ...
2436    3.9
2437    3.1
2438    3.1
2439    3.1
2440    3.1
Name: Ratings, Length: 2441, dtype: float64

In [11]:
# info after the data type change
df_full3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2441 entries, 0 to 2440
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2441 non-null   object
 1   Bus_type         2441 non-null   object
 2   Start_time       2441 non-null   object
 3   End_time         2441 non-null   object
 4   Total_duration   2441 non-null   object
 5   Price            2441 non-null   float64
 6   Seats_Available  2441 non-null   object
 7   Ratings          2441 non-null   float64
 8   Route_link       2441 non-null   object
 9   Route_name       2441 non-null   object
dtypes: float64(2), object(8)
memory usage: 190.8+ KB

In [12]:
df_full3.fillna(0,inplace=True)

In [13]:
df_full3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2441 entries, 0 to 2440
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2441 non-null   object
 1   Bus_type         2441 non-null   object
 2   Start_time       2441 non-null   object
 3   End_time         2441 non-null   object
 4   Total_duration   2441 non-null   object
 5   Price            2441 non-null   float64
 6   Seats_Available  2441 non-null   object
 7   Ratings          2441 non-null   float64
 8   Route_link       2441 non-null   object
 9   Route_name       2441 non-null   object
dtypes: float64(2), object(8)
memory usage: 190.8+ KB

In [14]:
# change dataframe to csv
path=r"D:/Redbus/complete_busdetails_clean3.csv"
df_full3.to_csv(path,index=False)

# Create a mysql database

In [15]:
conn = mysql.connector.connect(host="localhost", user="root", password="Vinith@97", database="redbus")

In [16]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="Vinith@97",database="redbus")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS redbus")

In [17]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details3(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT default 0,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("MySQL Table Created in redbus Database successfully")

MySQL Table Created in redbus Database successfully

In [18]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details3(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT default 0,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("MySQL Table 'bus_details3' created successfully in the 'redbus' database")

MySQL Table 'bus_details3' created successfully in the 'redbus' database

In [20]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details3(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = df_full3.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()